/* This is a comment */
/* Style Sheet for Jaberwocky Tutorial */

/* Body */
body {background-color: aqua}

/* Headers */
h1 {color:white;
  font-size:20pt;
}

/* HR (Hard Rule = line) */
hr {color:lime}

/* Paragraphs */
p {font-size:12pt;
   margin-left: 15px;
   color:teal;
 }
p.verse {color:olive;
  margin-left: 60px;
}

/* Divs */

/* Links */
a:link     {color:olive}
a:visited  {color:lime}
a:hover    {color:white}
a:active   {color:red}

/* Navigation */

/* Classes used by all html elements */

/* Ids */
